@import "./Constants.scss";

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0;
}

.aboutGallery {
    width: 80%;
    position: static;
}
