@import "./Constants.scss";

.img {
	height: 25rem;
  border-radius: 2rem;
}

.img-container {
	text-align: center;
	
}

/* Mobile-only top padding for the issues featured gallery carousel */
@media screen and (max-width: $sm) {
  .gallery-container {
    padding-top: $spacer-2;
  }
}