@import "./Constants.scss";


.film-strip-img {
	height: 25rem;
  border-radius: 2rem;
}

.img-container {
	text-align: center;
}

/* Mobile-only top padding for the team film strip carousel */
@media screen and (max-width: $sm) {
  .gallery-container {
    padding-top: $spacer-2;
  }
}