@import "./Constants.scss";

.issue-container {
  margin-top: $spacer-2;
  margin-bottom: $spacer-2;
  color: $color-blog-wt;
  cursor: default;
}

.issue-img-container {
  display: flex;
}

#large-screen-container {
  justify-content: flex-end;
}

#small-screen-container {
  justify-content: center;
}

.issue-img {
  width: 75%;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  
  &:hover {
    box-shadow: 0px 0px 15px rgba(249, 248, 248, 0.3);
  }
}

#small-screen {
  width: 50%;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  
  &:hover {
    box-shadow: 0px 0px 15px rgba(249, 248, 248, 0.3);
  }
}

.small-screen-row {
  margin-bottom: $spacer-2;
}

.issue-title {
  margin-bottom: $spacer-2;
  cursor: default;
  font-size: clamp(3.2rem, 6vw, 4.5rem);
  line-height: 1.05;
  font-weight: 600;
  text-align: left;
}

.small-screen-container {
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}

.issue-container p {
  font-size: clamp(1.5rem, 2.4vw, 2rem);
  line-height: 1.75;
  max-width: 70ch;
}