@import "./Constants.scss";

.issue-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.issue-modal-content {
  background: rgba(254, 251, 247, 0.5);
  padding: 3.5rem;
  max-width: 70%;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
  opacity: 1;
  border: 1px solid #FFFFFF;
}

.issue-modal-close {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: none;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  color: #FFFFFF;
}

.issue-modal-image-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.issue-modal-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.issue-modal-description {
  margin: 1rem 0;
  line-height: 1.6;
  text-align: center;
}

.issue-modal-read-more {
  display: block;
  width: fit-content;
  margin: 1.5rem auto 0;
  padding: 2rem 4.5rem;
  background-color: #FFFFFF;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-align: center;

  &:hover {
    background-color: #f0f0f0;
  }
}
