@import "./Constants.scss";

.polaroid-container {
  width: 100%;
  margin-bottom: $spacer-3;
}

.polaroid-frame {
  // border: .25rem solid $color-black;
  // background-color: $color-white;
  color: $color-white;
}

.polaroid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;    // crop to fill, no stretching
  display: block;
}

.image-frame .lazy-load-image-background {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.image-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;          
  object-position: center;
  display: block;
}

.image-frame {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4; 
  overflow: hidden;
}

.polaroid-info {
  text-align: center;
  padding-top: $spacer-base;
  padding-bottom: $spacer-base;
  color: $color-white;
}

.polaroid-position {
  padding-top: $spacer-1;
}
//////////////////
.polaroid-hover-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.82);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  text-align: left;
  padding: 12px;

  opacity: 0;
  animation: fadeIn 0.25s ease forwards;
  border-radius: 2px;
}

.hover-pronouns {
  font-style: italic;
  margin: 4px 0;
  //font-size: 1.1rem;
  font-size: clamp(0.75rem, 1.6vw, 1rem);
}

.hover-major {
  //font-size: 1.3rem;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  margin: 2px 0;
  opacity: 0.9;
}

.hover-about {
  //font-size: 1.3rem;
  font-size: clamp(0.85rem, 1.9vw, 1.2rem);
  line-height: 1.35;
  margin: 6px 0;;
}

.hover-portfolio {
  //font-size: 1.3rem;
  font-size: clamp(0.85rem, 1.9vw, 1.2rem);
  line-height: 1.35;
  margin-top: 6px;
}

/* Smooth fade animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}